/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */
 *{
    box-sizing: border-box;
}
 html,
 body {
     font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
     box-sizing: border-box;
 }
 
 button {
     font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
 }

 a{
    color: #0275d8;
    text-decoration: none;
    font-size: 0.89rem;
 }

p{
    float: none;
    flex-flow: column;
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
}
.my-4{
    opacity: 1;
}
.sidePhoto{
    width: 30%;
    height: 100%;
    float: left;
    margin: 0 1rem;
}
 .jumbotron h1{
    font-size: 4.3rem;
    color: white;
 }
 .jumbotron p{
     font-size: 1.2rem;
     color: white;
 }
 /*  Navigation */
 .navbar-brand > img {
     max-height: 40px;
     width: auto;
 }
 
 .navbar-light .navbar-toggler {
     border: 0;
     right:  0;
 }
 
 .navbar-light .navbar-nav .nav-link {
     color: #292b2c;
     font-weight: 600;
     text-transform: uppercase;
     padding-left: 1rem;
     padding-right: 1rem;
 
     /*  Challenge: can you make the navigation links orange on hover? */
 }

.nav-link:hover{
    
    background-color: #ce5f31;
    border-radius: 3px;
}
 
img .sidebar{
    width: 30%;
    height: auto;
}
 /* Buttons */
 /* INSERT BUTTON STYLES HERE */
 button{
     height: 2.5rem;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: rgb(206, 95, 49);
    color: white;
 }
 .mainButton{
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: rgb(206, 95, 49);
    color: white;
    padding: 0.45rem;

 }
 #white{
     color: black;
     background-color: white;
 }
 
 /* Alert */
 .alert {
     position: relative;
     margin-top: 2em;
     margin-bottom: 3em;
     padding-top: 1.5em;
     padding-bottom: 1.5em;
     border: 1px solid #dccdc6;
     border-radius: 0;
     font-size: 0.85rem;
     line-height: 1.3em;
     background: transparent;
     color: #292b2c;
 }
 
 .alert:before {
     content: '';
     position: absolute;
     left: -1px;
     top: 0;
     height: 100%;
     width: 1px;
     background: #ce5f31;
 }
 
 /* Jumbotron */
 .jumbotron {
     border-radius: 0;
 }

 #backgroundPhoto{
    background-image: url(/week-1/bike/Bikesforrefugees.github.io/images/header-bike.jpg);
    opacity: 0.9;     
 }
 
 /* Headings */
 .heading-underline {
     position: relative;
     margin-bottom: 2em;
     padding-bottom: 0.5em;
     border-bottom: 1px solid #dccdc6;
     font-size: 1rem;
     font-weight: 600;
     text-transform: uppercase;
 }
 
 .heading-underline:before {
     content: '';
     position: absolute;
     bottom: -1px;
     left: 0;
     width: 25%;
     height: 1px;
     max-width: 100px;
     background: #ce5f31;
 }
 
 /* Article */
section {
    display: flex;
    flex-flow: column;
    width: 60%;
    word-spacing: 1.5px;
    border: 1px none;
    background-color: lightgray;
    padding: 0.90rem;
}
.boxSection{
    display: flex;


}
.white{
    background-color: white;
    border: 1px solid lightgray;
    margin-left: 20px;
}
 .article {
     margin-bottom: 2em;
 }
 
 .article__title {
     margin-bottom: 0.5em;
     font-weight: 700;
 }
 
 .article__read-more a {
     font-size: 0.85em;
     font-weight: 700;
     text-decoration: uppercase;
 }
 
 .article__read-more a:hover,
 .article__read-more a:focus {
     text-decoration: none;
 }
 
 .article__read-more .fa {
     margin-right: 0.5em;
     color: #ce5f31;
 }
 
 .article__read-more:last-child {
     margin-bottom: 0;
 }
 
 
 /* Footer */
 .footer {
     margin-top: 4em;
 }
 
 .footer p {
     border-top: 1px solid #dccdc6;
     padding-top: 2em;
     padding-bottom: 2em;
 }
 
 /* Media queries */
 
 @media screen and (min-width: 992px) {
 
     .navbar-brand > img {
        max-height: 80px;
     }
 }